In [3]:
!pip install requests --quiet
!pip install beautifulsoup4 --upgrade --quiet
!pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.9.1)

In [35]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
url='https://www.worlddata.info/quality-of-life.php'

In [8]:
res=requests.get(url)

In [11]:
content=res.text

In [13]:
soup=BeautifulSoup(content,'lxml')

In [16]:
table=soup.find_all('div',class_='tablescroller')

In [24]:
col=soup.find_all('th')

In [32]:
header=[]

In [33]:
for i in col:
  title=i.text.strip()
  header.append(title)

In [34]:
header

['Rank',
 'Country',
 'Stability(15%)',
 'Rights(20%)',
 'Health(15%)',
 'Safety(10%)',
 'Climate(15%)',
 'Costs(15%)',
 'Popularity(10%)',
 'TotalQuality of life(100%)']

In [36]:
df=pd.DataFrame(columns=header)

In [37]:
df

Empty DataFrame
Columns: [Rank, Country, Stability(15%), Rights(20%), Health(15%), Safety(10%), Climate(15%), Costs(15%), Popularity(10%), TotalQuality of life(100%)]
Index: []

In [38]:
ro=soup.find_all('tr')

In [44]:
for j in soup.find_all('tr')[1:]:
  data=j.find_all('td')
  rowdata=[td.text.strip() for td in data]
  length=len(df)
  df.loc[length]=rowdata

In [45]:
df

,Rank,Country,Stability(15%),Rights(20%),Health(15%),Safety(10%),Climate(15%),Costs(15%),Popularity(10%),TotalQuality of life(100%)
0,1,Australia,86,92,87,100,90,23,41,76
1,2,San Marino,81,82,91,87,62,61,47,74
2,3,Hong Kong,77,85,100,97,49,61,41,74
3,4,Switzerland,91,99,93,99,34,44,46,74
4,5,Macao,90,71,100,93,48,61,44,73
...,...,...,...,...,...,...,...,...,...,...
132,133,Cameroon,40,19,9,27,60,51,34,34
133,134,Nigeria,18,24,12,23,53,57,41,32
134,135,Chad,46,12,0,31,50,49,44,32
135,136,Sudan,8,11,18,55,40,66,24,30
136,137,Congo (Dem. Republic),32,7,6,10,54,60,36,29

In [49]:
df.to_csv('Quality of life in a country comparison.csv')